# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Schule\Schuljahr_2020_2021\4.Klasse\SEW\Praxis\Laborblock 1\Rechner_bmayer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
